{
  "root": true,
  "ignorePatterns": [
    "dist/",
    "coverage/"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "standard-with-typescript"
  ],
  "rules": {
    "no-console": [
      "error"
    ],
    "padded-blocks": "off",
    "@typescript-eslint/consistent-type-definitions": [
      "error",
      "type"
    ],
    "@typescript-eslint/space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never"
      }
    ]
  }
}
